@{
    ViewBag.Title = "CrearFormularioDinamico";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Custom Stylesheet -->
    <link href="../../Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="../../Content/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="../../Content/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="../../Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="../../Content/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="../../Content/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <style>
        .botonF1{
            width:60px;
            height:60px;
            position: fixed;
            right:70px;
            bottom:190px;
            border-radius:50%;
            line-height:60px;
            z-index:999;
            border-radius:100%;
            background:#7D4BBC;
            border:none;
            outline:none;
            color:#FFF;
            font-size:36px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition:.3s;  
            text-align: center;
            cursor:pointer;
            display:block;
      
       
        }
        span{
          transition:.5s;  
        }
        .botonF1:hover span{
          transform:rotate(360deg);
        }
        .botonF1:active{
          transform:scale(1.1);
        }
    </style> 
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4>CREAR FORMULARIO DINÁMICO</h4>
                        <br />
                        <div class="form-validation">
                            <form class="form-valide" action=/Actividad/CreacionFormularioDinamico method=POST name="myform" autocomplete="off">
                                <input type="hidden" name="ActividadId" value="@ViewBag.Actividad">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="Titulo">
                                        Título del formulario<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-username" name="Titulo" placeholder="Formulario para completar la actividad.." required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="Descripcion">
                                        Breve descripción para explicar al usuario en que consiste el formulario <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" id="val-suggestions" name="Descripcion" rows="5" placeholder="El siguiente formulario es de caracter obligatorio para poder....." required></textarea>
                                    </div>
                                </div>

                                <p><a class="botonF1" id="btnAgregarEmpleado" style="color: white;"><span data-toggle="tooltip" data-placement="top" title="Agregar consigna">+</span></a></p>
                                <br /><br><br><hr />
                                <!--Acordeon-->
                                <div id="accordion-three" class="accordion">

                                    <div class="contenedor"></div>
                                </div>
                                <!---->
                                <br /><br />
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <div style="margin-left: 70px;">
                                            <input type="hidden" id="publicar" name="publicar" value="@ViewBag.PublicarAhora">
                                            <button type="submit" ng-click="" onclick="GuardarFormulario()" class="btn btn-primary">Guardar formulario</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function GuardarFormulario() {
                var formulario = document.getElementById("myform");
                document.myform.publicar.value = '@ViewBag.PublicarAhora';
                formulario.submit();

            }
    </script>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>


    $('body').on('focus', ".contenedor", function () {
        $(this).contenedor();
    });

    $(document).ready(function () {

        var wrapper = $("#accordion-three"); //Fields wrapper
        var add_button = $("#btnAgregarEmpleado");
        var index = 0;
        var indexAux = 1;

        $(add_button).click(function (e) {
            e.preventDefault();
            var nombre = "campo" + index.toString();
            $(wrapper).append(
                '<div class="removeMe" >' +
                '<div class="card">' +
                '<div class="card-header" style="background-color: #eeeeee;">' +
                '<h5 class="mb-0" data-toggle="collapse" data-target="#collapse' + index.toString() + '" aria-expanded="true" aria-controls="collapse' + index.toString() + '">' +
                '<i class="fa" aria-hidden="true"></i> Consigna </h5>' +
                '</div>' +
                '<div id="collapse' + index.toString() + '" class="collapse show" data-parent="#accordion-three">' +
                '<div class="card-body">' +
                '<div id="' + nombre + '">' +
                '<div class="form-group row">' +
                ' <label class="col-lg-4 col-form-label" for="CamposVm[' + index + '].Nombre">' +
                ' Ingrese pregunta <span class="text-danger">*</span>' +
                ' </label>' +
                ' <div class="col-lg-6">' +
                '<textarea class="form-control" id="val-suggestions" name="CamposVm[' + index + '].Nombre" rows="5" placeholder="Tienes problemas para correr o ejercitarse?...." required></textarea>' +
                '</div>' +
                ' </div>' +
                ' <div class="form-group row">' +
                ' <label class="col-lg-4 col-form-label" for="val-skill">' +
                '  Elegir tipo de respuesta que tiene que ingresar el cliente<span class="text-danger">*</span>' +
                '  </label>' +
                '  <div class="col-lg-6">' +
                '  <select class="form-control" id="filtroCategoria" data-live-search="true" title="Seleccione tipo de categoria de la actividad.." name="CamposVm[' + index + '].TipoDatoCampoId">' +
                ' <option value=0>Elegir tipo de respuesta</option>' +
                ' <option value=1>Texto Corto (menos de 50 caracteres)</option>' +
                ' <option value=2>Texto Largo (más de 51 caracteres)</option>' +
                ' <option value=3>Número</option>' +
                ' <option value=4>Fecha</option>' +
                ' <option value=5>Imagen</option>' +
                '  </select>' +

                ' </div>' +
                '</div>' +
                '  <div class="form-group row">' +

                ' <label class="col-lg-4 col-form-label" for="CamposVm[' + index + '].Obligatorio">' +
                ' ¿Está pregunta va a ser obligatoria?' +
                ' Si es asi, los usuarios deberán completarla si o si.' +

                ' <span class="text-danger">*</span>' +
                '</label>' +
                '<div class="col-lg-6">' +
                ' <label><input type="radio" id="cbox1" name="CamposVm[' + index + '].Obligatorio"  value="true" required> Si</label><br>' +
                ' <label><input type="radio" id="cbox1" name="CamposVm[' + index + '].Obligatorio" value="false" required> No</label><br>' +
                ' </div>' +
                ' </div>' +
                '<br>' +
                '<br>' +

                '<div class="form-group row">' +
                '<div class="col-lg-8 ml-auto">' +

                //'  <button type="button" id="eliminarPregunta" class="btn btn-primary">Eliminar pregunta</button>' +
                '<p><a class="btn mb-1 btn-danger remove-date" style="color:white; margin-left: 60px;" id="eliminarPregunta"> Eliminar pregunta</a ></p > ' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>'
            );

            index++;
            indexAux++;

        });
        $(wrapper).on("click", ".remove-date", function (e) { //user click on remove text
            e.preventDefault(); $(this).closest('div.removeMe').remove(); index--; indexAux--;;
        });
    });



</script>
