
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}
<section class="ftco-section">
<link href="~/Content/css/FotoPerfil.css" rel="stylesheet" media="all">

 <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>