
@{
    ViewBag.Title = "ExplicativoForm";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}
<section>
	<div class="container-fluid">
        <div class="row justify-content-center">
        	<div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    	<div class="row justify-content-center">
                    		<h1 style="color: #69D385;">FORMULARIOS PERSONALIZADOS</h1>
                    	</div>
                    	
                    	<br>

                        <div style="text-align: center;">
                            <h3>¿ Su actividad requiere información relevante que los usuarios deban completar ?</h3>
                            <p>Te ofrecemos crear tu propio <u data-toggle="tooltip" data-placement="top" title="Consiste en crear preguntas personalizadas por usted mismo ">formulario</u> para  recolectar esos datos que necesitas</p>

                            <div>
                                <br><br>
                                <iframe width="900" height="505" src="https://www.youtube.com/embed/4KKZzPjA12k?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com">
                                </iframe>

                                <br><br><br>
                                <h4 class="card-title">¿ Desea crear un formulario dinámico?</h4>

                                <div class="basic-form">
                                    <form>
                                        <div class="form-group">
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="optradio" id="btnAgregarBtn"> Si
                                            </label>
                                            <label class="radio-inline mr-3">
                                                <input type="radio" name="optradio" id="btnQuitarBtn" data-toggle="modal" data-target="#publicar" data-dismiss="modal"> No
                                            </label>

                                            <div id="ContenedorBtn">
                                                <a href="/Actividad/CrearFormularioDinamico?actividad=@ViewBag.Actividad&publicar=true"><button type="button" class="btn btn-primary">Crear Formulario</button></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="basic-form">
                                <form>
                                    <div class="form-group">


                                        <div class="modal fade" id="publicar">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Importante</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Estás listo para publicar tu actividad!</p>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/Actividad/Publicar?idActividad=@ViewBag.Actividad.Id&conUsuarioPendiente=false"><button type="button" class="btn btn-primary">Publicar</button></a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    	
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ContenedorBtn").hide();

            $("#btnAgregarBtn").click(function () {
                $("#ContenedorBtn").show();        
            });
            $("#btnQuitarBtn").click(function() {
                $("#ContenedorBtn").hide();

            });

    });
    </script>

</section>

