@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="ftco-section">

    <div class="header">



        <!--Content before waves-->
        <div class="inner-header flex">
            <!--Just the logo.. Don't mind this-->


            <div class="container h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="section-headline text-center">
                                    <h2>Zumba</h2>
                                </div>
                            </div>

                            <div class="well-text text-center">

                                <h2>¡Falta poco... Anotate!</h2>
                            </div>

                        </div>
                    </div>

                    <div id="countdown" class="row h-100 justify-content-center align-items-center"></div>
                </div>
            </div>
        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>

        <!--Waves end-->

    </div>

    <!-- End Slider Area ~/Content/images/slider/slider2.jpg-->
    <!-- Start Service area -->
    <div id="services" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <h2>Preguntas Frecuentes</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">
                    <!-- Start Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    </a>
                                    <h4>¿Cuándo comienza?</h4>
                                    <p>
                                        El evento es para la 1ra semana del mes de Noviembre, comienza el día 4/11/2019 únicamente en nuestras instalaciones.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    </a>
                                    <h4>¿Dónde?</h4>
                                    <p>
                                        Nos encontramos en Rincón 3170, San Justo, Buenos Aires. Es por una semana, el Lunes 4 y miércoles 6, de 15 a 16hs.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </a>
                                    <h4>¿Qué otro beneficio tengo?</h4>
                                    <p>
                                        Aparte de las clases, usted podrá acceder a los vestuarios y lockers. Si lleva a otra persona, su pase será del 10% menos.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    </a>
                                    <h4>¿Puedo realizar "Zumba"?</h4>
                                    <p>
                                        La practican personas de distintas edades, no es una práctica exigente. Puede probar la misma, de manera gratuita.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                    </a>
                                    <h4>¿Cuál es el precio?</h4>
                                    <p>
                                        El precio es de 50$ sólo por la 1ra semana de Noviembre.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="#">
                                        <i class="fa fa-ticket"></i>
                                    </a>
                                    <h4>¿Puedo ir a probar la clase?</h4>
                                    <p>
                                        Cuando quiera, puede ir a probar la clase. La misma será GRATUITA (Sólo por 1 vez). No se puede probar la clase los días de la promoción.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start About area -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Sobre Zumba</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="~/Content/theme/img/about/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">¿Qué es?</h4>
                            </a>
                            <p>
                                Zumba es un programa de fitness basado en bailes y en ejercicios aeróbicos. Las coreografías más conocidas incluyen canciones y movimientos de bailes de distintos estilos musicales.

                                Estos ejercicios pueden utilizarse para trabajar muchos grupos musculares como el tronco, brazos, piernas, espalda y glúteos.
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> Ayuda a perder peso
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Da fuerza y flexibilidad
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Aumenta la resistencia física
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Mejora la salud cardiovascular
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Incrementa la calidad de vida y el bienestar psicológico
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>

    <!-- End Service area

    <div class="our-skill-area fix hidden-sm">
        <div class="test-overly"></div>
        <div class="skill-bg area-padding-2">
            <div class="container">

                <div class="row">
                    <div class="skill-text">

                        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="95" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                                    <h3 class="progress-h4">Web Design</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                                    <h3 class="progress-h4">Graphics Design</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                                    <h3 class="progress-h4">Php Developer</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                            <div class="single-skill">
                                <div class="progress-circular">
                                    <input type="text" class="knob" value="0" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                                    <h3 class="progress-h4">Java Script</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
     -->
    <!-- our-skill-area end -->
    <!-- Faq area start -->
    <div class="faq-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Condiciones</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="faq-details">
                        <div class="panel-group" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingTwo2">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">
                                        <h5 class="mb-0">
                                            Condición 1 <i class="glyphicon glyphicon-chevron-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Esta promoción sólamente es válida para todos aquellos que se "unan" en Vita. El precio promocional sólo es aplicable a la página donde usted debe estar registrado.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingTwo2">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                       aria-expanded="false" aria-controls="collapseTwo2">
                                        <h5 class="mb-0">
                                            Condición 2 <i class="glyphicon glyphicon-chevron-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        Si no aparece anotado en la lista que nos proporciona VITA, no se le reconocerá el descuento. De ser así debe abonar la clase normal es decir, las tarifas que manejamos en la institución.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingThree3">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                       aria-expanded="false" aria-controls="collapseThree3">
                                        <h5 class="mb-0">
                                            Condición 3 <i class="glyphicon glyphicon-chevron-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                     data-parent="#accordionEx">
                                    <div class="card-body">
                                        El descuento que se le aplica por traer a un amigo, el mismo también debe estar registrado en la página y ser un usuario válido.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="tab-menu">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#p-view-1" role="tab" data-toggle="tab">Gym</a>
                            </li>
                            <li>
                                <a href="#p-view-2" role="tab" data-toggle="tab">Actividad</a>
                            </li>
                            <li>
                                <a href="#p-view-3" role="tab" data-toggle="tab">Personas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="p-view-1">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>Sobre el Gimnasio</h4>
                                    <p>
                                        Contamos con cuatro sedes especialmente diseñadas para mejorar tu rendimiento en cada ejercicio, actividad u objetivo que te propongas. Esta promoción sólo se aplica para nuestra sede de San justo.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="p-view-2">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>Sobre esta Actividad</h4>
                                    <p>
                                        Esta actividad promocional será organizada de vuelta más adelante ¡A estar atentos!
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="p-view-3">
                            <div class="tab-inner">
                                <div class="event-content head-team">
                                    <h4>Sobre las personas</h4>
                                    <p>
                                        Tenemos un cupo en total de 60 personas, entre los 2 días de la promoción.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Row -->
        </div>
    </div>
    <!--

    <div class="wellcome-area">
        <div class="well-bg">
            <div class="test-overly"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wellcome-text">
                            <div class="well-text text-center">
                                <h2>Welcome To Our eBusiness</h2>
                                <p>
                                    Busuness Lorem ipsum dolor sit amet, consectetur adipiscing elit.luctus est eget congue.
                                </p>
                                <div class="subs-feilds">
                                    <div class="suscribe-input">
                                        <input type="email" class="email form-control width-80" id="sus_email" placeholder="Email">
                                        <button type="submit" id="sus_submit" class="add-btn width-20">Subscribe</button>
                                        <div id="msg_Submit" class="h3 text-center hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Wellcome Area -->
    <!-- Start team Area -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Sobre nosotros</h2>
                    </div>
                </div>
            </div>
            <!--  <div class="row">
            <div class="team-top">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="~/Content/theme/img/team/1.jpg" alt="">
                            </a>
                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Jhon Mickel</h4>
                            <p>Seo</p>
                        </div>
                    </div>
                </div>

                   <div class="col-md-3 col-sm-3 col-xs-12">
                       <div class="single-team-member">
                           <div class="team-img">
                               <a href="#">
                                   <img src="~/Content/theme/img/team/2.jpg" alt="">
                               </a>
                               <div class="team-social-icon text-center">
                                   <ul>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-facebook"></i>
                                           </a>
                                       </li>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-twitter"></i>
                                           </a>
                                       </li>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-instagram"></i>
                                           </a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                           <div class="team-content text-center">
                               <h4>Andrew Arnold</h4>
                               <p>Web Developer</p>
                           </div>
                       </div>
                   </div>

                   <div class="col-md-3 col-sm-3 col-xs-12">
                       <div class="single-team-member">
                           <div class="team-img">
                               <a href="#">
                                   <img src="~/Content/theme/img/team/3.jpg" alt="">
                               </a>
                               <div class="team-social-icon text-center">
                                   <ul>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-facebook"></i>
                                           </a>
                                       </li>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-twitter"></i>
                                           </a>
                                       </li>
                                       <li>
                                           <a href="#">
                                               <i class="fa fa-instagram"></i>
                                           </a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                           <div class="team-content text-center">
                               <h4>Lellien Linda</h4>
                               <p>Web Design</p>
                           </div>
                       </div>
                   </div> -->
            <!-- End column -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-team-member">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/Content/theme/img/background/slider1.jpg" alt="">
                        </a>
                        <div class="team-social-icon text-center">
                            <ul>
                                <li>
                                    <a href="https://es-la.facebook.com/openparkba/">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/openparkba">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/openparkba/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <a href="/Home/PerfilEntidad">
                            <h4>Open Park</h4>
                        </a>
                        <p>Club | Gimnasio | Bienestar</p>
                    </div>
                </div>
            </div>
            <!-- End column -->
        </div>
    </div>


    <!-- End Team Area -->
    <!-- Start portfolio Area -->
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="section-headline text-center">
                <h2>Galería</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/1.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/1.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/2.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/2.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/3.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/3.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/4.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/4.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/5.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/5.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/6.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/6.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/7.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/7.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/8.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/8.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="~/Content/theme/img/portfolio/9.jpg">
                        <img class="img-fluid image scale-on-hover" src="~/Content/theme/img/portfolio/9.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="hotels" class="about-area area-padding">


        <div class="container">
            <div class="section-headline text-center">
                <h2>Nuestras clases más Valoradas</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="~/Content/theme/img/portfolio/10.jpg" alt="Hotel 1" class="img-fluid">
                        </div>
                        <h3><a href="#">Spinning</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Clase de bicicleta</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="~/Content/theme/img/portfolio/11.jpg" alt="Hotel 2" class="img-fluid">
                        </div>
                        <h3><a href="#">Zumba</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </div>
                        <p>Clase de baile aeróbico</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="hotel">
                        <div class="hotel-img">
                            <img src="~/Content/theme/img/portfolio/12.jpg" alt="Hotel 3" class="img-fluid">
                        </div>
                        <h3><a href="#">Pilates</a></h3>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Clase de enlongación y tonificación</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- awesome-portfolio end -->
    <!-- Start reviews Area -->
    <div class="reviews-area hidden-xs">
        <div class="work-us">
            <div class="work-left-text">
                <a href="#">
                    <img src="~/Content/theme/img/about/2.jpg" alt="">
                </a>
            </div>
            <div class="work-right-text text-center">
                <h2>Divertite y ejercitá con nosotros</h2>
                <h5>¡No te pierdas esta promoción increíble!</h5>
                <div class="row mb-4">
                    <div class="col text-center">
                        <a href="#" class="ready-btn" data-toggle="modal" data-target="#largeModal">Unirse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="modal-title" id="myModalLabel">Unirse a Zumba</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>¿Quiere unirse?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, por ahora</button>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#info">
                        ¡SI!
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <div class="modal-content text-center">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="modal-title" id="myModalLabel">¡Ya estás anotado!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Puede ver si se unió satisfactoriamente en <a href="/Usuario/PerfilUsuario">su perfil </a></h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End reviews Area -->
    <!-- start pricing area -->
    <!--    <div id="pricing" class="pricing-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Precios del gimnasio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                    <h3>basico <br /> <span>$600 / month</span></h3>
                    <ol>
                        <li class="check">Online system</li>
                        <li class="check cross">Full access</li>
                        <li class="check">Free apps</li>
                        <li class="check">Multiple slider</li>
                        <li class="check cross">Free domin</li>
                        <li class="check cross">Support unlimited</li>
                        <li class="check">Payment online</li>
                        <li class="check cross">Cash back</li>
                    </ol>
                    <button>sign up now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list active">
                    <span class="saleon">top sale</span>
                    <h3>standard <br /> <span>$110 / month</span></h3>
                    <ol>
                        <li class="check">Online system</li>
                        <li class="check">Full access</li>
                        <li class="check">Free apps</li>
                        <li class="check">Multiple slider</li>
                        <li class="check cross">Free domin</li>
                        <li class="check">Support unlimited</li>
                        <li class="check">Payment online</li>
                        <li class="check cross">Cash back</li>
                    </ol>
                    <button>sign up now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="pri_table_list">
                    <h3>premium <br /> <span>$150 / month</span></h3>
                    <ol>
                        <li class="check">Online system</li>
                        <li class="check">Full access</li>
                        <li class="check">Free apps</li>
                        <li class="check">Multiple slider</li>
                        <li class="check">Free domin</li>
                        <li class="check">Support unlimited</li>
                        <li class="check">Payment online</li>
                        <li class="check">Cash back</li>
                    </ol>
                    <button>sign up now</button>
                </div>
            </div>
        </div>
    </div>
     </div>-->
    <!-- End pricing table area -->
    <!-- Start Testimonials -->
    <!--   <div class="testimonials-area">
        <div class="testi-inner area-padding">
            <div class="testi-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="testimonial-content text-center">
                            <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>

                            <div class="testimonial-carousel">
                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar luctus est eget congue.
                                        </p>
                                        <h6>Boby</h6>
                                    </div>
                                </div>

                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar luctus est eget congue.
                                        </p>
                                        <h6>Jhon</h6>
                                    </div>
                                </div>

                                <div class="single-testi">
                                    <div class="testi-text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar luctus est eget congue.
                                        </p>
                                        <h6>Fleming</h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!-- End Testimonials -->
    <!-- Start Blog Area -->
    <!--  <div id="blog" class="blog-area">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Latest News</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/theme/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">13 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Assumenda repud eum veniam</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/theme/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">130 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Explicabo magnam quibusdam.</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/theme/img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">10 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Lorem ipsum dolor sit amet</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog -->
    <!-- Start Suscrive Area -->
    <!--   <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Welcome to our eBusiness company</h3>
                        <a class="sus-btn" href="#">Get A quate</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Suscrive Area -->
    <!-- Start contact Area -->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Contacto</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-mobile"></i>
                                <p>
                                    Teléfono: 0810-345-5505<br>
                                    <span>Lunes-Sábados (7am-11pm)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-envelope-o"></i>
                                <p>
                                    Email: info@openpark.com.ar<br>
                                    <span>Web: https://openpark.com.ar</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    Locación: Rincón 3170<br>
                                    <span>San Justo, Buenos Aires, Argentina</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Start Google Map -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Start Map -->
                        <iframe src="https://maps.google.com/maps?q=Rinc%C3%B3n%203170%2C%20B1754%20San%20Justo%2C%20Buenos%20Aires&t=&z=15&ie=UTF8&iwloc=&output=embed" width="550" height="398" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- End Map -->


                    </div>
                    <!-- End Google Map -->
                    <!-- Start  contact -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Usuario" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Enviar Inbox</button></div>
                            </form>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
    <!-- Start Footer bottom Area -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</section>