
@{
    ViewBag.Title = "Publicar";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}
<section>
	<div class="container-fluid">
        <div class="row justify-content-center">
        	<div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                    	<div class="row justify-content-center">
                    		<h1 style="color: #7D4BBC;">PUBLICAR</h1>
                    	</div>
                    	
                    	<br>

                    	<div style="text-align: center;">
                    		<h3>¿ Te gustaría obtener información extra de los usuarios ?</h3>
                    		<p>Te damos la oportunidad de crear tu propio <u data-toggle="tooltip" data-placement="top" title="Consiste en crear preguntas personalizadas por usted mismo ">formulario</u> para poder recolectar la información que necesitas</p>

                    		<div style="width: auto; height: 300px;">
                    			<br><br><br><br><br>

                    			<p>	imagen explicativa</p>
                    		</div>
							<div class="basic-form">
                                <form>
                                    <div class="form-group">
                                    	
                                        <button type="button" class="btn btn-primary" >Crear Formulario</button>
                                        <button type="button" class="btn btn-primary" >Solo Publicar</button>
                                        
                                    </div>
                                </form>
                            </div>
                    	</div>
                    	
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

