@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="active-member">
                        <div class="table-responsive">
                            <table class="table table-xs mb-0">
                                <thead>
                                    <tr>
                                        <th>Actividad</th>
                                        <th>Ciudad</th>
                                        <th>Edad</th>
                                        <th>Disponibilidad</th>
                                        <th>Precio</th>
                                        <th>Popularidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-warning" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/Content/images/1.jpg" class="mr-3" alt="">Zumba</td>
                                        <td>San Justo</td>
                                        <td>60-100</td>
                                        <td>
                                            <div>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-success" style="width: 50%"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Desde 50$</td>
                                        <td>
                                            <img src="~/Content/images/2.PNG" class="mr-3" alt="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>