
@{
    ViewBag.Title = "Calendario";
    Layout = "~/Views/Shared/_LayoutPerfil.cshtml";
}

<link href="~/Content/css/Calendario.css" rel="stylesheet" media="all">
<script src="~/Content/js/Calendario.js"></script>


<!--**********************************
    Sidebar start
***********************************-->
@section list {
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">Dashboard</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">Actividades</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="/Home/Muro">Buscar actividades</a></li>
                        <li><a href="/Home/Muro">Muro</a></li>

                    </ul>
                </li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Calendario</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="/Home/Calendario">Ver fechas</a></li>
                    </ul>
                </li>
                <li class="nav-label">Apps</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-envelope menu-icon"></i> <span class="nav-text">Chat</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./email-inbox.html">Grupal</a></li>
                        <li><a href="./email-read.html">Individual</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
}

<!--**********************************
    Sidebar end
***********************************-->

<section>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body pb-0 d-flex justify-content-between">

                                <div class="card-body">
                                    <div class="calendar">
                                        <h1 class="month">
                                            Diciembre 2019
                                        </h1>
                                        <ol class="day-names">
                                            <li>
                                                Domingo
                                            </li>
                                            <li>
                                                Lunes
                                            </li>
                                            <li>
                                                Martes
                                            </li>
                                            <li>
                                                Miércoles
                                            </li>
                                            <li>
                                                Jueves
                                            </li>
                                            <li>
                                                Viernes
                                            </li>
                                            <li>
                                                Sábado
                                            </li>
                                        </ol>
                                        <ol class="days">
                                            <li>
                                                <div class="date">
                                                    1
                                                </div>
                                                <div class="event" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Zumba 10-11 am
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    2
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    3
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    4
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    5
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    6
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    7
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    8
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    9
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    10
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    11
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    12
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    13
                                                </div>
                                                <div class="event all-day begin span-2" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Evento solidario
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    14
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    15
                                                </div>
                                                <div class="event all-day end" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Evento solidario
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    16
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    17
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    18
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    19
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    20
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    21
                                                </div>
                                                <div class="event" data-toggle="modal" data-target="#exampleModalCenter">
                                                    AquaGym 15-16 pm
                                                </div>
                                                <div class="event" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Zumba 10-11 am
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    22
                                                </div>
                                                <div class="event span-2">
                                                    <!--Event with Longer Name-->
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    23
                                                </div>
                                                <div class="event clear">
                                                    &nbsp;
                                                </div>
                                                <div class="event" data-toggle="modal" data-target="#exampleModalCenter">
                                                    Caminata 9-13 pm
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    24
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    25
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    26
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    27
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    28
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    29
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    30
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">
                                                    31
                                                </div>
                                            </li>
                                            <li class="outside">
                                                <div class="date">
                                                    1
                                                </div>
                                            </li>
                                            <li class="outside">
                                                <div class="date">
                                                    2
                                                </div>
                                            </li>
                                            <li class="outside">
                                                <div class="date">
                                                    3
                                                </div>
                                            </li>
                                            <li class="outside">
                                                <div class="date">
                                                    4
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--Titulo de la actividad-->
                    <h5 class="modal-title" id="exampleModalLongTitle">Activo </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Usted se encuentra inscripto en esta actividad ¿Desea darse de baja?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</section>