@{
    Layout = "~/Views/Shared/_LayoutEventos.cshtml";

}

<!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
    <section class="ftco-section">

        <div class="header">
            <div class="inner-header flex">
                <!--Just the logo.. Don't mind this-->
                <div class="container h-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-center ">
                                        <br><br><br><br>
                                        <h1 style="color: white;font-weight: 400; text-shadow: 3px 2px rgba(0, 0, 0, 0.5);">Bienvenidos a VITA</h1><br><br>

                                    </div>


                                    <!-- BUSCADOR -->
                                    <div class="row d-flex justify-content-center mt-4 mb-4">
                                        <div class="col-md-12">
                                            @*<form action="Home/BuscadorAvanzado" method="post" class="subscribe-form form-group">*@
                                            <form action="/Actividad/Actividades" method="post" class="subscribe-form form-group">
                                                <div class="form-group d-flex">
                                                    <input type="text" class="form-control" name="textoIngresado"  placeholder="Buscar actividades">
                                                    <input type="submit" name="textoIngresado" class="submit px-4" style="height: 52px;">
                                                    @*<input type="text" class="form-control" placeholder="Introduce el nombre de una actividad...">
                                                    <input type="submit" value="Buscar" class="submit px-4" style="height: 52px;">*@
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            </div>

            <!--Waves end-->

        </div>

        <!-- End Slider Area ~/Content/images/slider/slider2.jpg-->
        <!-- Start Service area -->
        <a name="categorias"></a>
        <div id="services" class="services-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline services-head text-center">
                            <h2>Categorias</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="services-contents">
                        <!-- Start Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                                        </a>
                                        <h4>Al aire libre</h4>
                                        <p>
                                            Desde una simple caminata hasta zumba, aqu&iacute; encontrar&aacute;n diversas actividades para disfrutar al aire libre.
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
                                        </a>
                                        <h4>Entretenimientos</h4>
                                        <p>
                                            Los clásicos juegos que nunca pasan de moda! ajedrés, damas, truco entre otros. Diviértete participando en diferentes torneos
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                        </a>
                                        <h4>Cursos y talleres recreativos</h4>
                                        <p>
                                            Nunca es tarde para aprender, podrás encontrar diversos cursos y talleres como ser idiomas, baile, pintura, y muchos más!
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class='icon-soccer-ball-o' style='font-size:35px'></i></span>
                                        </a>
                                        <h4>Deportes</h4>
                                        <p>
                                            La practica de un deporte trae numerosos beneficios para la salud. Encuentra tu deporte y hazlo!
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <!-- End Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <span class="icon-bus" aria-hidden="true"></span>
                                        </a>
                                        <h4>Excursiones</h4>
                                        <p>
                                            Únete a un grupo y participa de distintas excursiones a precios accesibles e incluso gratuitos
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <!-- End Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="fa fa-ticket"></i>
                                        </a>
                                        <h4>Culturales</h4>
                                        <p>
                                            Museo, teatro cine, son algunas actividades que podrás encontrar en esta sección
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Start About area -->
        <div id="about" class="about-area area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Sobre Nosotros</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single-well start-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-left">
                            <div class="single-well">
                                <a href="#">
                                    <img src="~/Content/theme/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- single-well end-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="well-middle">
                            <div class="single-well">
                                <a href="#">
                                    <h4 class="sec-head">¿Quienes somos?</h4>
                                </a>
                                <p>
                                    Somos Vita, una organización que tiene como objetivo brindar actividades recreativas según el público, la ubicación e intereses de cada usuario. Proporcionamos un espacio para que las empresas publiquen sus propias actividades o eventos, los cuales pueden necesitar la colaboración de otros usuarios. De esta manera desde Vita impulsamos: 
                                </p>
                                <ul>
                                    <li>
                                        <i class="fa fa-check"></i> La conexión entre los usuarios
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> La solidaridad
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> La creación de nuevos vínculos
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Salud y Bienestar
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> Visibilidad a las empresas
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End col-->
                </div>
            </div>
        </div>



        <!-- Start contact Area -->
        <div id="contact" class="contact-area">
            <div class="contact-inner area-padding">
                <div class="contact-overly"></div>
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Contacto</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-mobile"></i>
                                    <p>
                                        Teléfono: +011 4563 7896<br>
                                        <span>Lunes-Sábados (9am-20pm)</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-envelope-o"></i>
                                    <p>
                                        Email: InfoVita@gmail.com.ar<br>
                                        <span>Web: https://vita.com.ar</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Start contact icon column -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="contact-icon text-center">
                                <div class="single-icon">
                                    <i class="fa fa-map-marker"></i>
                                    <p>
                                        Locación: Rincón 3170<br>
                                        <span>San Justo, Buenos Aires, Argentina</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br>
                    <div class="row">
                        <br><br>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Dejanos tu comentario</h2>
                            </div>
                        </div>
                        <br><br><br><br><br>
                        <!-- Start  contact -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form contact-form">
                                <div id="sendmessage">Your message has been sent. Thank you!</div>
                                <div id="errormessage"></div>
                                <form action="" method="post" role="form" class="contactForm">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Comentario"></textarea>
                                        <div class="validation"></div>
                                    </div>
                                    <div class="text-center"><button type="submit">Enviar</button></div>
                                </form>
                            </div>
                        </div>
                        <!-- End Left contact -->
                    </div>
                </div>
            </div>
        </div>
        <button class="login100-social-item bg1" scope="public_profile,email"
                onlogin="checkLoginState();">
        </button>


        <!-- End Contact Area -->
        <!-- Start Footer bottom Area -->
        <!-- Facebook - No borrar porfa!
            <div>




         <table>

             <tr><td>Email:</td><td><b>@TempData["email"]</b></td></tr>

             <tr><td>First Name:</td><td><b>@TempData["first_name"]</b></td></tr>

             <tr><td>Last Name:</td><td><b>@TempData["lastname"]</b></td></tr>

             <tr><td>Picture:</td><td><b><img src="@TempData["picture"]" /></b></td></tr>



         </table>

     </div>
     <script>


     </script>

     <div id="spinner"
          style="
     background: #4267b2;
     border-radius: 5px;
     color: white;
     height: 40px;
     text-align: center;
     width: 250px;">
         Loading
         <div class="fb-login-button"
              data-max-rows="1"
              data-size="large"
              data-button-type="continue_with"
              data-use-continue-as="true"></div>


     </div> -->



    </section>
