@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/css/Actividades.css" rel="stylesheet" />

<!-- <script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
<section class="ftco-section">

    <div class="header">
        <div class="inner-header flex" style="height:40vh;">
            <!--Just the logo.. Don't mind this-->
            <div class="container h-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="text-center ">
                                    <br />
                                    <h1 style="color: white;font-weight: 400; text-shadow: 3px 2px rgba(0, 0, 0, 0.5); letter-spacing: 4px;">Bienvenidos</h1><br><br>
                                </div>


                                <!-- BUSCADOR -->
                                <div class="row d-flex justify-content-center mt-4 mb-4">
                                    <div class="col-md-12" style="margin-top:-90px">
                                        <div class="s009">
                                            <form action="/Actividad/Actividades" method="post">
                                                <div class="inner-form">
                                                    <div class="basic-search">
                                                        <div class="input-field">
                                                            <input id="search" type="text" name="textoIngresado" placeholder="Buscar actividades..." />
                                                            <div class="icon-wrap">
                                                                <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                    <path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Waves Container-->
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>

        <!--Waves end-->

    </div>

    <!-- End Slider Area ~/Content/images/slider/slider2.jpg-->
    <!-- Start Service area -->
    <a name="categorias"></a>
    <div id="services" class="services-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <h2>Categorias</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="services-contents">
                    <!-- Start Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=1">
                                        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=1">Al aire libre</a></h4>
                                    <p>
                                        Desde una simple caminata hasta zumba, aqu&iacute; encontrar&aacute;n diversas actividades para disfrutar al aire libre.
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=2">
                                        <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=2">Entretenimientos</a></h4>
                                    <p>
                                        Los clásicos juegos que nunca pasan de moda! ajedrés, damas, truco entre otros. Diviértete participando en diferentes torneos
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=4">
                                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=4">Cursos y talleres recreativos</a></h4>
                                    <p>
                                        Nunca es tarde para aprender, podrás encontrar diversos cursos y talleres como ser idiomas, baile, pintura, y muchos más!
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=3">
                                        <i class='icon-soccer-ball-o' style='font-size:35px'></i></span>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=3">Deportes</a></h4>
                                    <p>
                                        La practica de un deporte trae numerosos beneficios para la salud. Encuentra tu deporte y hazlo!
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=4">
                                        <span class="icon-bus" aria-hidden="true"></span>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=6">Excursiones</a></h4>
                                    <p>
                                        Únete a un grupo y participa de distintas excursiones a precios accesibles e incluso gratuitos
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!-- end col-md-4 -->
                        <div class=" about-move">
                            <div class="services-details">
                                <div class="single-services">
                                    <a class="services-icon" href="/Actividad/Actividades?categoriaId=5">
                                        <i class="fa fa-ticket"></i>
                                    </a>
                                    <h4><a href="/Actividad/Actividades?categoriaId=5">Culturales</a></h4>
                                    <p>
                                        Museo, teatro cine, son algunas actividades que podrás encontrar en esta sección
                                    </p>
                                </div>
                            </div>
                            <!-- end about-details -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Start About area -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Sobre Nosotros</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                                <div id="tv_container">

                                        <iframe width="540" height="345" src="https://www.youtube.com/embed/-UBNgXNe-9A?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com">
                                        </iframe>

                                </div>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">¿Quienes somos?</h4>
                            </a>
                            <p>
                                Somos Vita, una organización que tiene como objetivo brindar actividades recreativas según el público, la ubicación e intereses de cada usuario. Proporcionamos un espacio para que las empresas creen y publiquen sus propias actividades. De esta manera desde Vita impulsamos:
                            </p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i> Salud y Bienestar
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> La creación de nuevos vínculos
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Visibilidad a las empresas
                                </li>
                                <li>
                                    <i class="fa fa-check"></i> Administración y control del negocio a las empresas
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div>



    <!-- Start contact Area -->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Contacto</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-mobile"></i>
                                <p>
                                    WhatsApp: +011 2781 4553<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-envelope-o"></i>
                                <p>
                                    Email: vita.contactanos@gmail.com.ar<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    Dirección: Florencio Varela 1903<br>
                                    <span>San Justo, Buenos Aires, Argentina</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <br><br>
                    <!-- Start Google Map -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!-- Start Map -->
                        <iframe src="https://maps.google.com/maps?q=Florencio%20Varela%201903%2C%20B1754%20San%20Justo%2C%20Buenos%20Aires&t=&z=15&ie=UTF8&iwloc=&output=embed" width="550" height="398" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- End Map -->
                    </div>
                    <!-- End Google Map -->
                    <!-- Start  contact -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form contact-form">
                            <div id="sendmessage">Su mensaje ha sido enviado. Gracias!</div>
                            <div id="errormessage"></div>
                            <form action="mailto:vita.contactanos@gmail.com.ar" method="post" role="form" class="contactForm" enctype="text/plain">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Comentario"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Enviar</button></div>
                            </form>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div>
    <!--<button class="login100-social-item bg1" scope="public_profile,email"
            onlogin="checkLoginState();">
    </button>-->
    <!-- End Contact Area -->
    <!-- Start Footer bottom Area -->
    <!--
    <div>



        <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="true" data-use-continue-as="true"></div>

    </div>-->
    <!--  <div id="spinner"
         style="
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;">
        Loading
        <div class="fb-login-button"
             data-max-rows="1"
             data-size="large"
             data-button-type="continue_with"
             data-use-continue-as="true"></div>


    </div> -->



</section>
