
@{
    ViewBag.Title = "ListaEventos";
    Layout = "~/Views/Shared/_LayoutPerfilEntidad.cshtml";
}

<section>
	<div class="card">
        <div class="card-body">
            <h4 class="card-title">Mis Eventos</h4>
           	
                <div class="table-responsive">
                	<div class="header-left" style="margin-left:80%;">
                    	<div class="input-group icons">
                        	<div class="input-group-prepend">
                            	<span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        	</div>
                        	<input type="search" class="form-control" placeholder="Buscar categoria" aria-label="Search Dashboard">
                        	<div class="drop-down animated flipInX d-md-none">
                            	<form action="#">
                                	<input type="text" class="form-control" placeholder="Search">
                            	</form>
                        	</div>
                    	</div>
             		</div>
             		<br><br><br><br><br>
                    <table class="table header-border table-hover verticle-middle">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Zona</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Presentes</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><img src="../../Content/images/1.jpg"></th>
                                <td>Air Conditioner</td>
                                <td>Air Conditioner</td>
                                <td>Air Conditioner</td>
                                <td><div class="progress" style="height: 10px">
                                    	<div class="progress-bar gradient-1" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                    	</div>
                                	</div> 
                            	</td>
                                <td><span class="label gradient-1 btn-rounded">70%</span>
                                </td>
                                <td><span><a href="/Home/ModificarEvento" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                </td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <th><img src="../../Content/images/2.jpg"></th>
                                <td>Textiles</td>
                                <td>Textiles</td>
                                <td>Textiles</td>
                                <td>
                                    <div class="progress" style="height: 10px">
                                        <div class="progress-bar gradient-2" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                        </div>
                                    </div> 
                                </td>
                                <td><span class="label btn-rounded gradient-2">70%</span></td>
                                <td><span><a href="/Home/ModificarEvento" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i></a></td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <th><img src="../../Content/images/5.jpg"></th>
                                <td>Milk Powder</td>
                                <td>Milk Powder</td>
                                <td>Milk Powder</td>
                                <td>
                                    <div class="progress" style="height: 10px">
                                        <div class="progress-bar gradient-3" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                        </div>
                                    </div> 
                                </td>
                                <td><span class="label btn-rounded gradient-3">70%</span>
                                </td>
                                <td><span><a href="/Home/ModificarEvento" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                </td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <th><img src="../../Content/images/4.jpg"></th>
                                <td>Vehicles</td>
                                <td>Vehicles</td>
                                <td>Vehicles</td>
                                <td>
                                    <div class="progress" style="height: 10px">
                                    	<div class="progress-bar gradient-8" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                    	</div>
                                	</div> 
                                </td>
                                <td><span class="label gradient-8 btn-rounded">70%</span>
                                </td>
                                <td><span><a href="/Home/ModificarEvento" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                </td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                                <th><img src="../../Content/images/3.jpg"></th>
                                <td>Boats</td>
                                <td>Boats</td>
                                <td>Boats</td>
                                <td>
                                    <div class="progress" style="height: 10px">
                                        <div class="progress-bar gradient-1" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                        </div>
                                    </div> 
                                </td>
                                <td><span class="label gradient-1 btn-rounded">70%</span>
                                </td>
                                <td><span><a href="/Home/ModificarEvento" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a>
                                </td>
                                <td><span><a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>

